.profile {
  width: 512px;
  margin: 0 auto;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #768696;

  background-color: #fff;
  margin-bottom: 40px;
}

.description {
  text-align: center;
}

.name,
.quantity {
  font-weight: 700;
  color: #39485a;
  font-size: 24px;
}

.stats {
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
}

.stats > li {
  flex-basis: calc(100% / 3);

  padding: 5px;
}

.label,
.quantity {
  display: block;
  text-align: center;
}

.label {
  margin-bottom: 5px;
}
